appdirs==1.4.3
beautifulsoup4==4.6.0
chardet==3.0.3
isc==2.0
louis==3.0.0
packaging==16.8
pygobject==3.24.1
pyparsing==2.2.0
pyside==1.2.4
pysmbc==1.0.15.6
requests==2.14.2
simplejson==3.10.0
six==1.10.0
team==1.0
urllib3==1.21.1
virtualenv==15.1.0
