{% extends "base.html" %}
{% block styles %}
{{super()}}
<style>
    div.content {
        padding: 25px 0px 0px 0px;
    }
</style>
{% endblock styles %}

{% block content %}
    <div class="row content">
        <div class="large-12 columns">
            <h2>Customers</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <a href="/new_customer">Create New</a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <table id="customergrid" class="hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Zip code</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Vat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in customers %}
                        <tr>
                            <td>{{c.name}}</td>
                            <td>{{c.address}}</td>
                            <td>{{c.zip_code}}</td>
                            <td>{{c.city}}</td>
                            <td>{{c.country}}</td>
                            <td>{{c.vat}}</td>
                            <td>
                                <div class="row">
                                    <div class="small-4 column">
                                        <form action="{{ "/customer/edit/" ~ c.id }}" method="get">
                                            <button class="hollow button small">Edit</button>
                                        </form>
                                    </div>
                                    <div class="small-4 small-pull-4 column">
                                        <form action="{{ "/customer/delete/" ~ c.id }}" method="post">
                                            <button type="submit" class="hollow button small alert">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
