<!-- extend from base layout -->
{% extends "base.html" %}
{% block styles %}
{{super()}}
<style>
    div.content {
        padding: 25px 0px 0px 0px;
    }
</style>
{% endblock styles %}
{% block content %}
    <div class="row content">
        <div class="large-12 columns">
            <h2>New Customer</h2>
        </div>
    </div>
    <form id="projectform" data-abide novalidate action="" method="post" name="new customer">
        {{ customer.hidden_tag() }}
        <div class="row">
            <div class="small-6 columns">
                {{customer.name.label}}
                {{customer.name}}
                <span class="form-error">
                    Customer name is required
                </span>

                {{customer.address.label}}
                {{customer.address}}

                {{customer.city.label}}
                {{customer.city}}

                {{customer.zip_code.label}}
                {{customer.zip_code}}

                {{customer.country.label}}
                {{customer.country}}

                {{customer.vat.label}}
                {{customer.vat}}
                <span class="form-error">
                    A VAT number is required
                </span>

                {{customer.rate.label}}
                <div class="input-group">
                    {{customer.rate}}
                    <span class="input-group-label">€</span>
                </div>
            </div>
        </div>

        <div class="row">
            <fieldset class="large-6 columns">
                <button class="button" type="submit">Add Customer</button>
            </fieldset>
        </div>
    </form>
{% endblock %}