{% extends "base.html" %}
{% block styles %}
{{super()}}
<style>
    div.content {
        padding: 25px 0px 0px 0px;
    }
</style>
{% endblock styles %}

{% block content %}
    <div class="row content">
        <div class="large-12 columns">
            <h2>Projects</h2>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <a href="/new_project">Create New</a>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <table id="projectgrid" class="hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Customer</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in projects %}
                        <tr>
                            <td>{{p.code}}</td>
                            <td>{{p.description}}</td>
                            <td>{{p.customer.name}}</td>
                            <td>
                                <div class="row">
                                    <div class="small-3 column">
                                        <form action="{{ "/project/edit/" ~ p.id }}" method="get">
                                            <button class="hollow button small">Edit</button>
                                        </form>
                                    </div>
                                    <div class="small-2 small-pull-7 column">
                                        <form action="{{ "/project/delete/" ~ p.id }}" method="post">
                                            <button type="submit" class="hollow button small alert">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
