{% extends "base.html" %}
{% block styles %}
{{super()}}
    <link href="{{ url_for('static', filename='css/foundation-datepicker.min.css') }}" rel='stylesheet' />
    <style>
        div.content {
            padding: 25px 0px 0px 0px;
        }
    </style>
{% endblock styles %}

{% block content %}
    <div class="row content">
        <div class="large-12 columns">
            <h2>Generate report</h2>
        </div>
    </div>
    <form id="projectform" data-abide novalidate action="" method="post">
        {{ report.hidden_tag() }}
        <div class="row">
            <div class="small-6 columns">
                {{report.report_type.label}}
                {{report.report_type}}
                <span class="form-error">
                    Report is required
                </span>

                {{report.date_from.label}}
                {{report.date_from}}
                <span class="form-error">
                    A start date is required
                </span>

                {{report.date_to.label}}
                {{report.date_to}}
                <span class="form-error">
                    An end date is required
                </span>
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <button class="button" type="submit">Generate Report</button>
            </div>
        </div>
    </form>
    {% if data %}
        <hr />
        <div class="row">
            <div class="large-12 columns">
                Total days {{sum_data}}
            </div>
            <div class="large-12 columns">
                <table id="customergrid" class="hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{d.date.strftime('%d/%m/%Y')}}</td>
                                <td>{{d.description}}</td>
                                <td>{{d.hours}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block footer_scripts %}
{{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='js/foundation-datepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#date_from').fdatepicker({
                    format: 'dd/mm/yyyy',
                    weekStart: 1,
                    disableDblClickSelection: true,
                    leftArrow:'<<',
                    rightArrow:'>>',
                    pickTime: false
                });

            $('#date_to').fdatepicker({
                    format: 'dd/mm/yyyy',
                    weekStart: 1,
                    disableDblClickSelection: true,
                    leftArrow:'<<',
                    rightArrow:'>>',
                    pickTime: false
                });
        });
    </script>
{% endblock footer_scripts %}
