{% extends "base.html" %}
{% block styles %}
{{super()}}
    <link href="{{ url_for('static', filename='css/foundation-datepicker.min.css') }}" rel='stylesheet' />
    <style>
        div.content {
            padding: 25px 0px 0px 0px;
        }
    </style>
{% endblock styles %}

{% block content %}
    <div class="row content">
        <div class="large-12 columns">
            <h2>Generate report</h2>
        </div>
    </div>
    <form id="projectform" data-abide novalidate action="" method="post">
        {{ report.hidden_tag() }}
        <div class="row">
            <div class="small-6 columns">
                {{report.report_type.label}}
                {{report.report_type}}
                <span class="form-error">
                    Report is required
                </span>

                <div id="customer_search" style="display: none">
                    {{report.customer.label}}
                    {{report.customer}}
                </div>

                {{report.date_from.label}}
                {{report.date_from}}
                <span class="form-error">
                    A start date is required
                </span>

                {{report.date_to.label}}
                {{report.date_to}}
                <span class="form-error">
                    An end date is required
                </span>
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <button class="button" type="submit">Generate Report</button>
            </div>
        </div>
    </form>
    <hr />
    {% if data %}
        {% if type == 1 %}
        <div class="row">
            <div class="large-12 columns">
                Total days {{sum_data}}
            </div>
            <div class="large-12 columns">
                <table class="hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Hours</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{d.date.strftime('%d/%m/%Y')}}</td>
                                <td>{{d.hours}}</td>
                                <td>{{d.description}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% elif type == 2 %}
        <div class="row">
            <div class="large-12 columns">
                Total distance {{sum_data}}
            </div>
            <div class="large-12 columns">
                <table class="hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Project</th>
                            <th>Travel distance</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{d.date.strftime('%d/%m/%Y')}}</td>
                                <td>{{d.project}}</td>
                                <td>{{d.distance}}</td>
                                <td>{{d.description}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% elif type == 3 %}
        <div class="row">
            <div class="large-12 columns">
                Total worked days {{sum_data}}
            </div>
            <div class="large-12 columns">
                <table class="hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Project</th>
                            <th>Date</th>
                            <th>Worked hours</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{d.customer}}</td>
                                <td>{{d.project}}</td>
                                <td>{{d.date.strftime('%d/%m/%Y')}}</td>
                                <td>{{d.hours}}</td>
                                <td>{{d.description}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="large-12 columns">
            Unsupported report type
        </div>
        {% endif %}
    {% endif %}
{% endblock content %}

{% block footer_scripts %}
{{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='js/foundation-datepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#date_from').fdatepicker({
                    format: 'dd/mm/yyyy',
                    weekStart: 1,
                    disableDblClickSelection: true,
                    leftArrow:'<<',
                    rightArrow:'>>',
                    pickTime: false
                });

            $('#date_to').fdatepicker({
                    format: 'dd/mm/yyyy',
                    weekStart: 1,
                    disableDblClickSelection: true,
                    leftArrow:'<<',
                    rightArrow:'>>',
                    pickTime: false
                });
            showhidecustomer();
        });
        function showhidecustomer() {
            var rep_type = document.getElementById("report_type").value;
            var cust_div = document.getElementById("customer_search");

            if (rep_type === "3") {
                cust_div.style.display = "block";
            }
            else {
                cust_div.style.display = "none";
            }
        }
    </script>
{% endblock footer_scripts %}
