<!-- extend from base layout -->
{% extends "base.html" %}
{% block styles %}
    {{super()}}
    <link href="{{ url_for('static', filename='css/foundation-datepicker.min.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/wickedpicker.min.css') }}" rel='stylesheet' />
    <style>
        div.content {
            padding: 25px 0px 0px 0px;
        }
        .timepicker {
            z-index: 200;
        }
    </style>
{% endblock styles %}
{% block content %}
    <div class="row content">
        <div class="large-12 columns">
            <h2>New Presta</h2>
            <a data-open="presta">Click me for a modal</a><br>
            <a href="/generate_presta">Click me to generate dummy presta</a>
        </div>
    </div>
    <div class="reveal" id="presta" data-reveal>
        <form id="projectform" data-abide novalidate>
            {{ presta.hidden_tag() }}
            <div class="row">
                <div class="medium-6 columns">
                    {{presta.project.label}}
                    {{presta.project}}

                    {{presta.date.label}}
                    {{presta.date}}

                    {{presta.duration.label}}
                    {{presta.duration}}

                    {{presta.comment.label}}
                    {{presta.comment}}
                </div>
            </div>

            <div class="row">
                <fieldset class="large-6 columns">
                    <button class="button" type="submit" value="Submit">Add Presta</button>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock content %}
{% block footer_scripts %}
{{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='js/foundation-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wickedpicker.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#date').fdatepicker({
                format: 'dd-mm-yyyy hh:ii',
                weekStart: 1,
                disableDblClickSelection: true,
                leftArrow:'<<',
                rightArrow:'>>',
                pickTime: true
            });

            $('#duration').wickedpicker({
                title: 'Presta duration',
                now: "01:00",
                twentyFour: true,
                minutesInterval: 15
            });
        });
</script>
{% endblock footer_scripts %}